:root {
    --mainColor: #E2E2E2;
    --darkMain: #121212;
    --darkSec: #1E1E1E;
    --btnColor: #C38FFF;
    --redBtn: rgb(161, 13, 13);
}

* {
    word-break: break-word;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--darkMain);
    color: var(--mainColor);
    -webkit-font-smoothing: antialiased;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img, picture, textarea, select, button , input{
    font: inherit;
}

p {
    font-size: 1.6rem;
    overflow-wrap: break-word;
}

table {
    background-color: var(--darkSec);
    margin-top: 5%;
    border-radius: 6px;
    padding: 15px;
    text-align: center;

    border-collapse: separate;
    border-spacing: 10px;
}

table > tbody > tr > td {
    padding: 5px;
    margin: 0px 10px 0px 0px;
}

a, input[type = "submit"]{
    background-color: var(--btnColor);
    color: black; 
    padding: 8px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 3px;
}

input[type = "submit"]{
    margin-left: calc(50% - 80px);
}

.delete {
    background-color: var(--redBtn);
    color: var(--mainColor);
}

.register {
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkSec);
    border-radius: 6px;
    padding: 15px;
    min-width: 500px;
}

form {
    width: 95%;
}


input, select {
    display: block;
    outline: none;
    border-radius: 3px;
    background-color: #363636;
    border: none;
    color: var(--mainColor);
    padding: 5px;
    min-height: 50px;
    width: 100%;
    text-transform: uppercase;
}

small {
    color: var(--redBtn);
}

input.error {
    border: 2px solid var(--redBtn);
}


